@import "http://webfonts.ru/import/roboto.css";
@screen-sm:768px;
@font_robot: 'Roboto';
.top_header{
    background: #282828;    
    .social{ 
        display: inline-flex;
        float: left;
        padding: 15px;
        i{
            padding-left: 10px;
            color: white;
        }
    }
    .contacts{
        float: right;
        display: block;
        padding: 15px 0 15px 5px;
        i{
            padding-right: 10px;
            color: white;
            
            span{
                font-family: @font_robot;
                font-size: 12px;
            }
        }
    }

}

.menu{
    
    .navbar-default{
        background: white;
        border: none;
        
    }
    .btn{
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        text-align: center;
        border-radius: 60px;
        width: 120px;
        color: #5db442;
        border-color: #5db442;
        margin: 10px;
        &:hover{
            background: #5db442;
            color: beige;
            
        }
    }
    .nav ul li{
        padding-top: 10px;
    }
       .nav ul li a{
        font: @font_robot;
        font-size: 14px;
        color: black;
           text-align: center;
    }
    .navbar-brand{
        padding-top: 25px;
        font-size: 30px;
        font: @font_robot;
        color: #636666;
    }
  
}

.slider{
    background: #4ca368;
    padding: 70px;
    h1{
        font: @font_robot;
        font-size: 48px;
        color: black; 
        padding-bottom: 15px;
    }
    p{
        font: @font_robot;
        font-size: 16px;
        color: black;

    }
    img{
        margin: auto;
        padding-top: 15px;
    }
    
}
.email{
    background: #efefef;
    padding: 30px 0;
    .input-group{
        margin: 0 auto;
        input{
            height: 35px;
            width: 180px;
            border: none;
            border-radius:12px 0  0 12px;
        }
        button{
            background: #5db442;
            color: white;
            height: 35px;
            width: 80px;
            border: none;
            border-radius: 0 12px 12px 0;
        }
    }
    
    p{
        padding-top: 15px;
        font: 'Roboto';
        font-size: 12px;
    }
}
.community{
    background-image: url('../img/bg_community.png');
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    
    h3{
        text-align: center;
        font: @font_robot;
        font-size: 48px;
        color: white;
        padding-bottom: 25px;
    }
    
    .sign_up_process{
        background: rgba(51, 51, 51, 0.4);
        width: 40%;
        height: 30%;
        margin: 0 auto;
        
        img{
            float: left;
            padding: 15% 0 0 10%;
        }
        ul{
            padding-top: 50px;
            padding-left: 150px;
            color: white;
            margin: auto;
            list-style: none;
            
            span{
                color: green;
                
                text-transform: uppercase;
                font: @font_robot;
                font-size: 26px;
            }
        }
        
    }
    .btns{
        
        text-align: center;
        color: white;
        margin-top: 40px;
        
        li{
        list-style-type: none;
        display: inline-block;
        margin: 5%;
            color: white;
            
        button{
        background: #415d2a;
        border-radius: 100%;
        width: 70px;
        height: 70px;
        border: none;
        color: white;
        &:hover{
            background: white;
            color: #415d2a;
        }
        
      }
            p{
                color: white;
                font: @font_robot;
                padding-top: 5px;
            }
        }
    }
}

.price_table{
   
    
    
    padding-top: 100px;
    padding-bottom: 50px;
    h3{
        font: @font_robot;
        font-size: 26px;
        text-align: center;
    }
    .input-group{
        display: block;
        padding-top: 25px;
        text-align: center;
        .btn1{
            background: white;
            border:1px ececec;
            border-radius:15px;
            height: 30px;
            width: 138px;
            margin-right: -8px;
            
        }
        span{
            background: green;
            color: white;
            padding: 3px;
            position: absolute;
            border-radius: 100%;
            margin-top: 3px;
	        margin-left: -13px;
        }
        .btn2{
            background: #5db442;
            border:1px ececec;
            border-radius:15px;
            height: 30px;
            width: 138px;
            left: 0px;
        }
    }
    
    .price{
        
        text-align: center;
        margin-top: 10px;
        
        li{
            list-style-type: none;
            margin-right: 35px;
            margin-top: 10px;
            
            display: block;
            border: 1px solid #ececec;
            padding-top: 15px;
            span{
            font: @font_robot;
            font-size: 16px;
            font-weight: bolder;        
        }
            input{
                border-radius: 10px;
                border:1px solid #d6d6d6;
                width: 150px;
                height: 30px;
                background-color: white;
                color: black;
                margin-top: 25px;;
                margin-bottom: 25px;
                &:hover{
                    background-color: limegreen;
                    color: white;
                }
            }
            

        }
        
        .money{
            display: block;
            border: 1px solid green;
            border-radius: 100%;
            width:90px;
            height: 90px; 
            text-align: center;
            margin: 0 auto;
            
            &:hover{
                background: green;
                border: black;
                color: white;
            }
            p{
                color: black bold;
                font: @font_robot;
                font-size: 23px;
                padding-top: 20px;
            }
            span{
                color: #898989;
                font: @font_robot;
                font-size: 10px;
                font-family: cursive;
            }
            
        }
        .checking{
            
            
            li{
            border:none;
            padding-bottom: 8px;
            .enable{
                color: green;
            }
            .disable{
                color: grey;
            }
            i{
                
                padding-right: 10px;
            }
            
           
        }
        
    }
}

}
.feature{
    
    padding:100px 0px;
    background: url(../img/bg_feature.png) #ececec;
    
    h3{
        font: 'Roboto';
        font-size: 48px;
        text-align: center;
        padding: 50px 0px;
    }
    h5{
        text-transform: uppercase;
        font: @font_robot;
        font-size: 16px;
        
    }
    .row{
        margin: 0;
        padding: 0;
        
        .col-lg-3{
              background: white;
              padding-top: 25px;
              margin-right: 12px; 
              padding-bottom: 25px;
              margin-bottom: 20px;
               i{
            color: #5db442;  
            padding-left: 46%;
           }
            p{
                text-align: center;
            
                
            &:hover{
                color:white;
                background:#5db442;
                i{
                 color: white;  
                    hr{
                       background: white;
                    }
                }
            }
              
           
        }
    }
    hr {
      height: 2px;
      margin-top: 10px;
      background: grey;
      border: none;
    }
    
}
    }

footer{
    
    background: #efefef;
    
    
    .top_footer{
        padding: 60px 50px;
        li{
        list-style: none;
            }
        
         .input-group{
                padding-top: 10px;
             input{
                 height: 39px;
                 width: 250px;
                 border:none;
             }
             button{
                 width: 50px;
                 height: 40px;
                 border:none;
                 background: #5db442;
             }
            }
      
        .menu{
    text-transform: uppercase;
            
 ul{
	 list-style-type: none;
	 font-size: 12px;
           li{
	padding-bottom: 10px;
               a{
                   color: black;
               }
}
            }

 h5{
	padding-bottom: 20px;
	font-size: 12px;
}
           
    }
        
    }
.bottom_footer{
         padding-top: 5px;
         border-top: 1px solid #e1e2e3;
        
     }
}
input[type="text"]::-webkit-input-placeholder{
	padding-left: 	20px;
}
@media (max-width:1081px){
     .community .sign_up_process{
        width: 80%;
         img{
            float: left;
            padding: 10% 0 0 5%;
        }
    }
    .feature{
        h3{
            font-size: 20px;
            text-align: center;
        }    
    }


 footer{    
    .top_footer{
        ul{
            margin: 0;
            padding: 0;
        }
        .newsletter{
            text-align: center;
            
        }
         .input-group{
                margin: 0 auto;
             input{
                 height: 39px;
                 width: 130px;
                 border:none;
             }
             
            }
        .menu{
            text-align: center;
            
    }
}
     
}
}
@media (max-width:768px)
{
    
    .menu .btn{
        margin: auto;
        position: absolute;
        left: 0;  right: 0;   
    }
    .slider{
        padding: 30px;
        h1{
            padding-bottom: 10px;
            font-size: 32px;
        }
        p{
            font-size: 16px;
        }
        img{
             padding-top: 10px;
        }
        
    }
    .community .sign_up_process{
        width: 80%;
    }
    
    
}
@media (max-width:500px){
    .top_header{
        .contacts{
            i{
                span{
            font-size: 8px;
                    }
            }
        }
    }
    .community .sign_up_process{
      
        img{
            float: left;
            padding: 15% 0 0 5%;
        }
        ul{
            padding-top: 10%;
            padding-left: 15%;
            color: white;
            margin: auto;
            list-style: none;
            
            span{
                color: green;
                
                text-transform: uppercase;
                font: @font_robot;
                font-size: 26px;
            }
        }
    }
    .bottom-footer{
        h2{
            text-align: center;
        }
    
     }
    
    }
