<DOCTYPE! html>
<head>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.css">
  <title>Craft Lance Tow</title>
</head>
<body>
  <header>
    <div class="top_header ">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="social">
              <a href="https://www.facebook.com"><i class="fa fa-facebook fa-lg"></i></a>
              <a href="https://twitter.com/?lang=ru"><i class="fa fa-twitter fa-lg"></i></a>
              <a href="google.com"><i class="fa fa-google-plus-official fa-lg"></i></a>
              <a href="https://www.linkedin.com"><i class="fa fa-linkedin fa-lg"></i></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-2 col-xs-offset-2">
            <div class="contacts">
              <i class="fa fa-phone"> <span>+ 44 99151012545</span></i>
              <i class="fa fa-envelope-o"> <span>contact@bluelance.com</span></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="container-fluid">
        <div class="nav navbar navbar-default" >
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <a href="#" class="navbar-brand">Carft Lance</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="responsive-menu">
              <ul class="nav navbar-nav" >
                <li><a href="#">Products</a></li>
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Support</a></li>
                <button class="btn btn-default">Sign in</button>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="slider">
    <div class="container-fluid">
      <h1 class="text-center">Bring your Big Data to Life With Carft Lance</h1>
      <p class="text-center">Blue Lance transforms your company's data into rich visuals for you to collect and organize so you can focus on <br>what matters to you. Stay in the know, spot trends as they happen, and push your business further.</p>
        
        
        
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>
        <div class="carousel-inner" role="listbox">
         
           <div class="item active">
            <img class="img-responsive" src="img/slider.png" alt="Notebook">
           </div>
           
           <div class="item">
            <img class="img-responsive" src="img/slider.png" alt="Notebook">
           </div>
           
           <div class="item">
            <img class="img-responsive" src="img/slider.png" alt="Notebook">
           </div>
          
        </div>
        
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
        
        
        
    </div>
  </div>
  <div class="email">
    <div class="container-fluid">
      <div class="input-group">
        <input type="text" name="" id="" placeholder="enter email">
        <button>Use it free</button>
      </div>
      <p class="text-center">By clicking Use it free, you agree to the Power BI Terms of Service.</p>
    </div>
  </div>
  <div class="community">
    <div class="container-fluid">
      <h3>Community Sign Up</h3>
      <div class="sign_up_process">
        <img src="img/sign_up_process.png" alt="Sign Up Process">
        <ul>
          <li><span>Sign up process</span></li>
          <li>1. User enters email address</li>
          <li>2. Clicks on "Sign up for free"</li>
        </ul>
      </div>
      <ul class="btns">
        <li>
          <button><i class="fa fa-sign-in"></i></button>
          <p>Community Edition</p>
        </li>
        <li>
          <button><i class="fa fa-bug"></i></button>
          <p>Community Edition</p>
        </li>
        <li>
          <button><i class="fa fa-check-square-o"></i></button>
          <p>Community Edition</p>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="price_table">
    <div class="container-fluid">
      <h3>Affordable Services Package</h3>
      <div class="input-group" role="group">
        <input type="button" class="btn1" name="Business Edition" value="Business Edition">
        <span>OR</span>
        <input type="button" class="btn2" name= "Community Edition" value="Business Edition">
      </div>
      <div class="row">
        <ul class="price">
          <div class="col-lg-4">
            <li>
              <span>Basic</span>
              <div class="money">
                <p>$59</p>
                <span class="per_m">per month</span>
              </div>
              <ul class="checking" >
                <li><i class="fa fa-check-circle disable"></i>20 Keyboard (free)</li>
                <li><i class="fa fa-check-circle enable"></i>No Time Tracking (free)</li>
                <li><i class="fa fa-check-circle disable"></i>230 - Man Hour (free)</li>
                <li><i class="fa fa-check-circle enable"></i>News Letter (free)</li>
              </ul>
              <input type="button" name="FREE NOW" value="FREE NOW">
            </li>
          </div>
          <div class="col-lg-4">
            <li>
              <span>Standard</span>
              <div class="money">
                <p>$79</p>
                <span class="per_m">per month</span>
              </div>
              <ul class="checking" >
                <li><i class="fa fa-check-circle enable"></i>20 Keyboard (free)</li>
                <li><i class="fa fa-check-circle disable"></i>No Time Tracking (free)</li>
                <li><i class="fa fa-check-circle enable"></i>230 - Man Hour (free)</li>
                <li><i class="fa fa-check-circle disable" ></i>News Letter (free)</li>
              </ul>
              <input type="button" name="FREE NOW" value="FREE NOW">
            </li>
          </div>
          <div class="col-lg-4">
            <li>
              <span>Unlimited</span>
              <div class="money">
                <p>$99</p>
                <span class="per_m">per month</span>
              </div>
              <ul class="checking" >
                <li><i class="fa fa-check-circle enable"></i>20 Keyboard (free)</li>
                <li><i class="fa fa-check-circle disable"></i>No Time Tracking (free)</li>
                <li><i class="fa fa-check-circle disable"></i>230 - Man Hour (free)</li>
                <li><i class="fa fa-check-circle enable"></i>News Letter (free)</li>
              </ul>
              <input type="button" name="FREE NOW" value="FREE NOW">
            </li>
          </div>
          </ul>
      </div>
       
    </div>
  </div>
  
  <div class="feature">
    <div class="container-fluid">
     
      <h3>A Comprehensive Data Integration and Business Analytics Platform</h3>
      <div class="row">
        <div class="col-lg-3">
          <i class="fa fa-book fa-3x" >
            <hr>
          </i>
          <h5 class="text-center">Community Edition</h5>
          <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
        </div>
        <div class="col-lg-3">
          <i class="fa fa-bug fa-3x" >
            <hr>
          </i>
          <h5 class="text-center">Community Edition</h5>
          <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
        </div>
        <div class="col-lg-3">
          <i class="fa fa-cogs fa-3x" >
            <hr>
          </i>
          <h5 class="text-center">Community Edition</h5>
          <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
        </div>
        <div class="col-lg-3">
          <i class="fa fa-external-link fa-3x" >
            <hr>
          </i>
          <h5 class="text-center">Community Edition</h5>
          <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <i class="fa fa-coffee fa-3x " >
            <hr>
          </i>
          <h5 class="text-center">Community Edition</h5>
          <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
        </div>
        <div class="col-lg-3">
          <i class="fa fa-pagelines fa-3x" >
            <hr>
          </i>
          <h5 class="text-center">Community Edition</h5>
          <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
        </div>
        <div class="col-lg-3">
          <i class="fa fa-paper-plane-o fa-3x" >
            <hr>
          </i>
          <h5 class="text-center">Community Edition</h5>
          <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
        </div>
        <div class="col-lg-3">
          <i class="fa fa-folder-open fa-3x" >
            <hr>
          </i>
          <h5 class="text-center">Community Edition</h5>
          <p>Visually explore your data through a free-form drag-and-drop canvas, a broad range of modern data visualizations, and an easy-to-use report authoring experience.</p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container-fluid">
      <div class="top_footer">
        <div class="row">
          <div class="col-lg-4 ">
            <div class="newsletter">
              <h5><strong>Newsletter</strong></h5>
              <p>Insights await in your company's data. Bring them into focus with BlueLance.</p>
              <div class="input-group" role="group">
                <input type="text" placeholder="enter your email">
                <button><img src="img/row.png" alt="row"></button>
              </div>
            </div>
          </div>
          <ul class="menu">
            <div class="col-lg-6 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-0 col-sm-offset-0 col-xs-offset-0">
              <div class="row">
                <div class="col-lg-4">
                  <li>
                    <ul>
                      <h5><strong>Quck Links</strong></h5>
                        <li><a href="#">Power Bi Desktop</a></li>
                      <li><a href="#">Mobile</a></li>
                      <li><a href="#">See all Dowloads</a></li>
                      <li><a href="#">Power Bi Desktop</a></li>
                      <li><a href="#">Mobile</a></li>
                      <li><a href="#">Power Bi Desktop</a></li>
                    </ul>
                  </li>
                </div>
                <div class="col-lg-4">
                  <li>
                    <ul>
                      <h5><strong>Legal</strong></h5>
                        <li><a href="#">Privacy &amp; Cookies</a></li>
                      <li><a href="#">Terms of use</a></li>
                      <li><a href="#">Trademarks</a></li>
                    </ul>
                  </li>
                </div>
                <div class="col-lg-4">
                  <li>
                    <ul>
                      <h5><strong>Information</strong></h5>
                      <li><a href="#">Support</a></li>
                      <li><a href="#">Developers</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Newsletter</a></li>
                      <li><a href="#">Pyramid Analytics</a></li>
                    </ul>
                  </li>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <div class="bottom_footer">
        <div class="row">
          <div class="col-lg-3 col-md-offset-1 col-sm-offset-1 col-xs-offset-2" >
            <h2>CARFT LANCE</h2>
          </div>
          <div class="col-lg-offset-9 col-md-offset-8 col-sm-offset-8 col-xs-offset-2" >
            <p>© Designed by Moin Khan. All Rights Reserved. </p>
            <span>Made by BlueLance</span>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
<html>